# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.DS_Store

# Dependency directories (remove the comment below to include it)
# vendor/
#

yomo/yomo
example/source/source
example/source/source.exe
example/flow/sl.yomo
example/flow/sl.exe
example/sink/sink
example/sink/sink.exe
