
// Serverless main function
func main() {
	cli, err := yomoclient.NewStreamFunction("{{.Name}}").Connect("{{.Host}}", {{.Port}})
	if err != nil {
		stdlog.Print("Connect to yomo-server failure: ", err)
		return
	}

	defer cli.Close()
	cli.Pipe(Handler)
}
